<IfModule mod_rewrite.c>
    RewriteEngine On

	# Accueil
	RewriteCond %{REQUEST_URI} ^/controller/$
    RewriteRule ^(.*)$ homepage.php [QSA,L]	

	# Themes
	RewriteCond %{REQUEST_URI} ^/controller/themes$
    RewriteRule ^(.*)$ themes.php [QSA,L]

	# Projets
	RewriteCond %{REQUEST_URI} ^/controller/projets/(.*)$
	RewriteRule ^projets/([0-9]*)-(.*)$ project.php?id=$1&name=$2 [QSA,L]
</IfModule>

