<IfModule mod_rewrite.c>
    RewriteEngine On

	# Accueil
	RewriteCond %{REQUEST_URI} ^/controller/$
    RewriteRule ^(.*)$ homepage.php [QSA,L]	

	# Themes
	RewriteCond %{REQUEST_URI} ^/controller/themes$
    RewriteRule ^(.*)$ themes.php [QSA,L]

	# Theme
	RewriteCond %{REQUEST_URI} ^/controller/projets/([0-9]*)-([^/]*)/?$
	RewriteRule ^projets/([0-9]*)-(.*)$ theme.php?theme_id=$1&theme_name=$2 [QSA,L]

	# Projet
	RewriteCond %{REQUEST_URI} ^/controller/projets/(.*)/(.*)$
	RewriteRule ^projets/([0-9]*)-(.*)/([0-9]*)-(.*)$ project.php?theme_id=$1&theme_name=$2&project_id=$3&project_name=$4 [QSA,L]

</IfModule>

