<IfModule mod_rewrite.c>
    RewriteEngine On

	# Accueil
	RewriteCond %{REQUEST_URI} ^/controller/$
    RewriteRule ^(.*)$ homepage.php [QSA,L]	

	# Themes
	RewriteCond %{REQUEST_URI} ^/controller/themes$
    RewriteRule ^(.*)$ themes.php [QSA,L]
</IfModule>

